<<<<<<< HEAD
{% extends 'base.html.twig' %}
{% block content %}

    <h2>Ajouter Un Réfugié</h2>
    <br>
    <br>
    <br>
    {{ form(form) }}



{% endblock %}
=======
Hello World!
>>>>>>> af282b06661706d128dc0ce87d0d0196d5239e87
