





<div class="blog-section">
    <div class="container">
        <div class="blog-top">
            <div class="grid_3 two">
                <h3>{{ demande.titreDemande }}</h3>
                <img src="{{ asset('images/' ~ demande.photoDemande) }}" alt=""/>
                <div class="blog-poast-info">
                    <ul>
                        <li><i class="admin"> </i><a class="admin" href="#"><span> </span>{{ demande.typeDemande }}</a></li>
                    </ul>
                </div>
                <p>{{ demande.descriptionDemande }}</p>


            </div>
        </div>
    </div>
</div>

