{% extends 'base.html.twig' %}

{% block content %}
    <h1>Postulation acceptée avec succées</h1>



    <ul>
        <li>
            <a href="{{ path('postulations_index') }}">Back to the list</a>
        </li>
        <li>

        </li>
    </ul>
{% endblock %}
