{% extends "base.html.twig" %}
{% block content %}
    {% for a in aid  %}
        {%  if a.aides|length >0 %}
        <p style="color: blue"> {{ a.username  }} </p>
            {% else %}
                <p style="color: red"> {{ a.username  }} </p>
        {% endif %}
    {%  endfor %}
{% endblock %}